
		@-ms-viewport {
			width: device-width;
		}

		body {
			-ms-overflow-style: scrollbar;
		}

		@include breakpoint('<=xsmall') {
			html, body {
				min-width: 320px;
			}
		}

	/
		html {
			box-sizing: border-box;
		}

		*, *:before, *:after {
			box-sizing: inherit;
		}

	body {
		background-color: _palette(bg);
		@include vendor('background-image', (
			'url("images/overlay.png")',
			'linear-gradient(45deg, #{_palette(bg1)} 15%, #{_palette(bg2) 85%})',
		));

		// Stops initial animations until page loads.
			&.is-preload {
				*, *:before, *:after {
					@include vendor('animation', 'none !important');
					@include vendor('transition', 'none !important');
				}
			}

	}